header {
    color: #FFF;
    height: 70px;
    width: 100%;
    background: #FFF url("../images/logo.png") no-repeat;
    background-position: left 20px center;
    border-bottom: 1px solid #CCCCCC;
}